/*
 *= require oxymoron/ng-notify
 *= require_self
 *= require editor
 */

@import "bootstrap-sprockets";
@import "bootstrap";

a{
	text-decoration: none !important;
}
.rails-errors {
	color: red;
	font-size: 12px;
}

.w1 {
  width: 1px;
  white-space: nowrap
}

#nav{
	height: 50px;
	width: 100%;
	background-color: #1C1717;
	.create{
		position: relative;
		height: 25px;
		width: 100px;
		background-color: orange;
		top: -3px;
		text-align: center;
		color: white;
		font-weight: bold;
		&:hover{
			color: black;
		}
	}
	.link-im{
		height: 50px;
		width: 200px;
		position: relative;

		display: inline-block;
	}

	.link-im img{
		position: relative;
		height: auto;
	}
	.link-im:hover{
		background-color: rgba(0,0,0,0);
	}
	.right{
		position: relative;
		display: inline-block;
		margin-left: calc(100% - 550px);
	}
	.m-search{
		width: 200px;
		border-radius: 0px;
	}
}
#sidebar{
	display: inline-block;
	float: right; 
	height: 100%;
	width: 20%;
	height: 800px;
	margin-top: 25px;
	margin-right: 25px;
	background-color: #CFC9C4;

	h1{
		padding-top: 25px;
		padding: 25px 0px;
		color: orange;
	}
}
#content{
	display: inline-block;
	width: 70%;
	position:relative;
	margin-left: 75px;
	.cont-block{
		margin-top: 25px;
	}
	.inf-text{
		padding-top: 7px;
		color: #3A58FD;
	}
	.cont-block:hover .desc{
		background-color: #E1DBDB;
	}
	.cover{
		height: 200px;
		width: auto;
		top: 0px;
		margin-top: 0px;
		bottom: 0px;
		img{
			height: 200px;
			width: 100%;
		}
	}
	.category-cont{
			margin-top: 10px;
			position: absolute;
			height: 20px;
			padding-left: 15px;
			padding-right: 25px;
			border-radius: 4px;
			background-color: rgba(0,0,0,0.5);
			z-index: 1000;
			margin-left: 20px;
			color: #F7AB08;
			font-weight: 600;
			border: 2px solid #1D1C1B;
			transition: 0.5s;
		}
	.back{
			top: 10px;
			z-index: 100;
			position: absolute;
			height: 0px;
			width: calc(100% - 29px);
			background-color: rgba(0,0,0,0.8);
		}

	.cover:hover .category-cont{
		background-color: white;
	}
	.category-cont:hover{
		background-color: white;
		border: 2px solid #F7AB08;
		cursor: pointer;
	}

	.cover:hover .back{
		top: 0px;
		height: 200px;
		cursor: pointer;
	}
	.desc{
		margin-top:-20px;
		height: 200px;

		a{
			text-decoration: none !important;
		}
		a{
			h3:hover{
				color:#F0770A;
			}
		}
		h3{
			padding-top: 3px;
			color: #1C1717;

		}
	}
	.desc-text{
		height: 140px;
		padding: 10 0px 5px 10px;
	}
	.foot{
		height: 30px;
		p{
			float: right;
			margin-right: 15px;
		}
	}
}

#show{
	display: inline-block;
	width: 60%;
	margin-left: 5%;
	.show-img{
		position: relative;
		width: 100%;
	}
	.content{
		padding-top: 15px;
		padding-left: 25px;
	}
	.tag{
		float: left;
		height: 20px;
		padding-left: 12px;
		padding-right: 20px;
		border-radius: 3px;
		margin-left: 10px;
		color: white;
		font-weight: 600;
	
		background-color: #419BFB;
		margin-top: 10px;
	}
	.f-btn{
		margin-top: 50px;
		float: none;
	}
	.f-add-btn{
		padding-top: 5px;
		text-align: center;
		color: pointer;
		display: inline-block;
		height: 33px;
		width: 33px;
		background-color: #419BFB;
		border: 1px solid #C5C9CE;
		border-radius: 3px;
	}
	.f-add-btn:hovver{
		cursor: pointer;
	}
	.tags-group{
		margin-left: 15px;
	}
	.my-btn{
		color: white;
		height: 25px;
		padding-left: 10px;
		padding-right:10px;
		background-color: blue;
	}
}
#form-cont{
	display: inline-block;
	width: 60%;
	margin-left: 5%;

	.f_width{
		width: 300px !important;
		display: inline-block;
	}
	.f-add-btn{
		padding-top: 5px;
		text-align: center;
		color: pointer;
		display: inline-block;
		height: 33px;
		width: 33px;
		background-color: #419BFB;
		border: 1px solid #C5C9CE;
		border-radius: 3px;
	}
	.f-add-btn:hovver{
		cursor: pointer;
	}
	.tag{
		display: inline-block;
		height: 20px;
		padding-left: 12px;
		padding-right: 20px;
		border-radius: 3px;
		margin-left: 10px;
		float:left;
		background-color: #419BFB;
		margin-top: 10px;
		position: relative;
	}
	.f-btn{
		margin-top: 50px;
		float: right;
	}
	.tags-group{
		margin-left: 15px;
		height: auto;
		position: relative;
	}
	.buts{
		margin-top: 50px;
		position: relative;
	}
}